body(style="font-family:Arial")
    h1 Transcore VPN Download Fix
    form(action="/download", method="post")
        p Email
        input(id="email" name="email" placeholder="user@test.com")
        br
        input(type="submit")
